{% extends "base.html" %}
{% block body %}
<h1>User #{{ user.id }}</h1>
<ul class="user-demographics">
    {% if user.gender %}<li>{{ user.gender }}</li>{% endif %}
    {% if user.age %}<li>{{ user.age }} years old</li>{% endif %}
    {% if user.location %}<li>{{ user.location }}</li>{% endif %}
    {% if user.occupation %}<li>{{ user.occupation }}</li>{% endif %}
</ul>
{% if user.ratings_count %}
<h2>{{ user.ratings_count }} Ratings</h2>

<ul class="movies">
{% for m in movies %}
<li><a href="{{ url_for('movie_page', mid=m.id) }}">{{ m.title }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if user.genres_json %}
<script type="text/x-json" id="genres">{{ user.genres | tojson | safe }}</script>
{% endif %}
{% endblock %}
